@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.module-container{
    text-align: center;
    margin: auto;
    margin-top: 15vh;
}

@media (min-width: 1500px) {
    .module-container{
        width: 1300px;
    }
    .module-name{
        font-size: 50px;
    }
    .itm-text{
        font-size: 24px;
    }
    .itm-parting{
        font-size: 24px;
    }
}
@media (max-width: 1500px) {
    .module-container{
        width: 1000px;
    }
    .module-name{
        font-size: 45px;
    }
    .itm-text{
        font-size: 24px;
    }
    .itm-parting{
        font-size: 24px;
    }
}

@media (max-width: 1100px) {
    .module-container{
        width: 800px;
    }
    .module-name{
        font-size: 40px;
    }
    .itm-text{
        font-size: 24px;
    }
    .itm-parting{
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    .module-container{
        width: 90%px;
    }
    .module-name{
        font-size: 30px;
    }
    .itm-text{
        font-size: 20px;
    }
    .itm-parting{
        font-size: 20px;
    }
}
@media (max-width: 550px) {
    .module-name{
        font-size: 15px;
    }
    .module-container{
        width: 95%;
    }
    .itm-text{
        font-size: 12px;
    }
    .itm-parting{
        font-size: 12px;
    }
}

.module-name{
    font-family: Jockey One;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #F2DEBA;
}

.module-in{
    background-color: #0E5E6F;
    border: none;
    outline: none;
    border-bottom: 2px solid #F2DEBA;
    width: 70%;
}

.list-itm{
    display: flex;
    margin: 1% auto;
    width: 60%;
    list-style: none;
    background: #F2DEBA;

    justify-content: center;
    align-items: center;
    
}

.itm-text{
    width: 38%;
    margin: 4% 2%;
    outline: none;
    background-color: #FFEFD6;
    border: none;

    font-family: Jockey One;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #0E5E6F;
    padding: 1% 2.5%;
}

.itm-parting{
    font-family: Jockey One;
    font-weight: 400;
    color: #0E5E6F;
}


.add-btn{
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #FFEFD6;

    font-family: Jockey One;
    font-size: 4em;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    
    width: 1em;
    height: 1em;

    text-align: center;
    padding: 0;
    line-height: 0;
    color: #0E5E6F;
}

.add-btn:hover{
    background-color: #3A8891;
    color: #F2DEBA;
}



.close-btn{
    margin: auto 3% auto 0;
}