body{
    background-color: #D61C4E;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: none; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

#asker {
    width: 25%;
    max-width: 400px;
    min-width: 200px;
    height: 40%;
    max-height: 400px;
    min-height: 200px;

    background-color: #F77E21;
    border-radius: 20px;
    display: block;
    
    margin: auto;
    margin-top: 25vh;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: none; 
}

#asker::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }


.current{
    color: #FAC213;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 320%;
}

#asker input{
    background-color: #FEF9A7;
    border: none;
    border-radius: 20px;
    width: 80%;
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #FAC213;
    padding: 2%;
    outline: none;
}

#asker input::placeholder{
    font-family: 'Courier New', Courier, monospace;
    color: #FAC213;
}

.form {
    display: block;
    text-align: center;
}

#ask button{
    outline: none;
    background-color: #FAC213;
    border: none;
    border-radius: 20px;
    font-size: 90%;
    width: 30%;
    min-width: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #FEF9A7;
    padding: 2%;
    margin-top: 8%;
}

#asker button:hover{
    background-color: #D61C4E;
}

.correct{
    color: greenyellow;
    text-shadow: 2px 2px 1px green;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-top: 20%;
}

.incorrect{
    color: red;
    text-shadow: 2px 2px 1px tomato;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-top: 20%;
}

.ans{
    text-decoration: line-through;
    color: #D61C4E;
    width: 100%;
    text-align: center;
    font-size: 130%;
    margin-top: 0px;
    letter-spacing: 2px;
    margin: auto;
    margin-bottom: none;

    background-color: #FEF9A7;
    border: none;
    border-radius: 20px;
    width: 80%;
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 2%;
}

.needed{
    border-radius: 10px;
    margin-bottom: 0px;
    color: #D61C4E;
    width: 100%;
    text-align: center;
    text-decoration: bold;
}

#submit{
    outline: none;
    background-color: #FAC213;
    border: none;
    border-radius: 20px;
    font-size: 90%;
    width: 30%;
    min-width: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #FEF9A7;
    padding: 2%;
    margin-top: 0px;
}

.text{
    color: #FEF9A7;
}

.list{
    max-height: 40%;
    border-radius: 5px;
    border: solid #FAC213 2px;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 5%;
    list-style: none;
}

.list-itm{
    width: 100%;
    
}

hr{
    color: #FEF9A7;
    background-color: #FEF9A7;
    border: none;
    border-radius: 20px;
    height: 2px;
}

*{
    transition-duration: 300ms;
}